.user-container {
  margin-left: 20px;
  position: relative;

  .user {
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    background: none;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
    margin: 40px 0;
    text-align: center;
    position: fixed;
    width: 190px;
    padding: 16px;
    font-family: 'Poppins', sans-serif;
  }

  h3 {
    font-size: 1.3rem;
  }

  img {
    border-radius: 150px;
    height: 70px;
    object-fit: cover;
    margin: 10px 0 8px;
  }

  p {
    font-size: 1.2rem;
  }
}
